
{% extends 'base.html' %}  
{% block content %}  
{% if user.is_authenticated %}
  
<a class="btn btn-danger" href=" {% url "logout" %}" role="button">Logout</a>
{% endif %}

<a class="btn btn-warning" href=" {% url "files" %}" role="button">Files</a>
<a class="btn btn-info" href=" {% url "searchuser" %}" role="button">Search User</a>
<a class="btn btn-dark" href=" {% url "sharefile" %}" role="button">Share File</a>


 <h2>Upload File {{user.username}}</h2>
 <form method = "POST" enctype = "multipart/form-data">
    {% csrf_token %}
    <label for="fname">Title:</label><br>
    <input type="text" id="fname" class= "form-control" name="title"><br>
    <label for="lname">Upload File:</label><br>
    <input type="file" class= "form-control" name="upload_file">
      <br>
      <br>
    <button type="submit" class="btn btn-success">File Upload</button>
  </form>
  <br>

 
  
{% endblock content %}  